In [33]:
#input and output

print("hello world")

hello world

In [34]:
#Data types

int_num = 10
float_num =5.23
complex_num =2+ 4j
string ="ramu"
boolean = False
list_example = [12, 34, 43, 45]
tuple_example = (12, 34, 43, 45)
dict_exaple = {"s":23, "y":54, "c":45}
set_example ={12, 34, 43, 45}

In [35]:
#expressions and Operators
a = 10
b = 5

In [36]:
# arithmetic operators
print(a+b) 
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

15
5
50
2.0
2
0
100000

In [37]:
# comparison operators
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [38]:
# logical operators
print(a>6 and b<6)
print(a>6 or b<3)
print(not(a>6 and b<6))

True
True
False

In [39]:

# Type Casting
int_from_float = int(5.32)
float_from_int = float(52)
string_from_int = str(34)
list_from_string = list("Apple")
tuple_from_list = tuple([1,2,3,4,5])
set_from_list = set([1,2,3,4,5])