In [22]:
#input and output

print("hello world")

hello world

In [23]:
#Data types

int_num = 10
float_num =5.23
complex_num =2+ 4j
string ="ramu"
boolean = False
list_example = [12, 34, 43, 45]
tuple_example = (12, 34, 43, 45)
dict_exaple = {"s":23, "y":54, "c":45}
set_example ={12, 34, 43, 45}

In [24]:
#expressions and Operators
a = 10
b = 5

In [25]:
# arithmetic operators
print(a+b) 
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

15
5
50
2.0
2
0
100000

In [26]:
# comparison operators
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False